body {
  font-family: 'Montserrat', sans-serif;
  margin: 2em;
  padding: 5px;
}

/* External CSS outside of container Desktop mode */

.card {
  width: fit-content;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}

  #playerPods { 
    align-items: center;
    justify-content: center;
  
  }
  #playerChild { 
   margin: 0px;
  }
  #outerPod { 
    padding: 20px;

  }
  
  /* adding NPC Pods */
  #addPod { 
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  .add-option { 
    size: 15px;
  }
  #rollNumber { 
    width: fit-content;
  }
  
  #selector {
    padding-top: 15px;
  }

/* Health Slider */
div.aria-widget-slider {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  height: 4em;
}

div.aria-widget-slider .rail {
  margin: 2px;
  padding: 1px;
  background-color: #eee;
  border: 1px solid #888;
  position: relative;
  top: 2em;
  height: 4px;
}

div.aria-widget-slider .thumb {
  border: 1px solid #888;
  border-top-color: #666;
  border-left-color: #666;
  background-color: #ddd;
  position: relative;
}

div.aria-widget-slider .rail .thumb.focus,
div.aria-widget-slider .rail .thumb:hover {
  outline: 2px solid #888;
  background-color: #def;
}

div.aria-widget-slider .rail.focus {
  background-color: #aaa;
}

div.aria-widget-slider .value {
  width: 2em;
  text-align: right;
  position: absolute;
}

label {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}