body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  padding: 5px;
  margin-bottom: 50px;
}


@media(max-width: 600px) {
  .playerName{ 
    float: right;
    
    }
    
    #condition {
      float: right;
    }
    
    #playerPod { 
      display: block;
      padding-left: auto;
      padding-right: auto;
      padding-bottom: 10px;
      padding-top: 15px;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-evenly;
    
    }
    
    #innerPod { 
      padding: 20px;

    }
    
    #addPod { 
      position: relative;
      margin-left: auto;
      margin-right: auto;
    }
    .add-option { 
      size: 15px;
    }
}
/* External CSS outside of container Desktop mode */
.container { 
  display: block;
padding-top: 35px;
position: relative;
margin-left: auto;
margin-right: auto;
}

.playerName{ 
float: right;

}

#condition {
  float: right;
}

#playerPod { 
  display: block;
  padding-left: auto;
  padding-right: auto;
  padding-bottom: 10px;
  padding-top: 15px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;

}

#innerPod { 
  padding: 5px;

}

/* adding NPC Pods */
#addPod { 
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.add-option { 
  size: 15px;
}