body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  padding: 50px;
  margin-bottom: 50px;
}

#navbar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;  
}

@media(max-width: 600px) {
  nav {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.container { 
  display: block;
padding-top: 35px;
position: relative;
margin-left: auto;
margin-right: auto;
}

.playerName{ 
float: right;

}

#condition {
  float: right;
}

#playerBoxes { 
  display: block;
  padding-left: auto;
  padding-right: auto;
  padding-bottom: 10px;
  padding-top: 5px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
}