body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  padding: 50px;
  margin-bottom: 50px;
}

h1 {
  color: #373fff;
}

img {
  max-width: 150px;
  height: auto;
  box-shadow: 0 0 10px silver;
  border-radius: 150px;
}

@media(max-width: 600px) {
  nav {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

/* PWA AUTH STYLING */
/* The Sign In button itself */
pwa-auth::part(signInButton) {
  color: white;
  background-color: green;
}

/* The MS button */
pwa-auth::part(microsoftButton) {
  color: teal;
  font-family: "Comic Sans MS"; /*So sorry*/
  text-decoration: underline;
  font-size: 1.2em;
}

/* The Google button */
pwa-auth::part(googleButton) {
  box-shadow: inset 8px 0 1px orange;
  letter-spacing: 4px;
  font-size: 1.2em;
}

/* The Facebook button */
pwa-auth::part(facebookButton) {
  font-family: "Segoe Script", "script";
  font-size: 1.2em;
}

/* The Facebook icon */
pwa-auth::part(facebookIcon) {
  transform: rotateZ(50deg);
}

/* The dropdown menu */
pwa-auth::part(dropdownMenu) {
  border-radius: 10px 0;
  border: 3px dotted blue;
  margin-top: 20px;
}

